.partners-section {
    padding: 50px;
    text-align: center;
}
  
.partners-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
  
.partner-logo {
    height: 80px;
    object-fit: contain;
    margin: 10px;
    filter: grayscale(100%);
}
  